--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.115.8
uvicorn[standard]==0.34.0
celery[redis]==5.4.0
boto3==1.36.18
sqlalchemy[asyncio]==2.0.37
asyncpg==0.30.0
redis==5.2.1
httpx==0.28.1
pillow==11.1.0
pydantic-settings==2.7.1
python-json-logger==3.2.1
pybreaker==1.2.0
alembic==1.14.1
torch==2.5.1+cpu
python-multipart==0.0.20
psycopg2-binary==2.9.10
